x-airflow-common: &airflow-common
  image: airflow-env:2.11.0
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./config:/opt/airflow/config
    - /var/run/docker.sock:/var/run/docker.sock
  user: "${AIRFLOW_UID}:0"
  depends_on:
    postgres:
      condition: service_healthy

services:

  airflow-builder:
    image: airflow-env:2.11.0
    build:
      context: ./airflow
      dockerfile: Dockerfile
    command: "echo airflow built"

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
    - "5433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      bash -c "
      airflow db migrate &&

      airflow variables set S3_BUCKET \"$S3_BUCKET\" &&
      airflow variables set DAGS_START_DATE \"$DAGS_START_DATE\" &&
      
      airflow connections add minio_s3 \
      --conn-type aws \
      --conn-login \"$MINIO_ROOT_USER\" \
      --conn-password \"$MINIO_ROOT_PASSWORD\" \
      --conn-extra '{\"endpoint_url\":\"'$S3_ENDPOINT_URL'\",\"region_name\":\"'$AWS_DEFAULT_REGION'\"}' &&

      airflow connections add greenplum_db \
      --conn-type postgres \
      --conn-host "$GREENPLUM_HOST" \
      --conn-login "$GPADMIN_USER" \
      --conn-password "$GPADMIN_PASSWORD" \
      --conn-port 5432 \
      --conn-schema "dwh" &&

      airflow users create \
      --username airflow \
      --password airflow \
      --firstname admin \
      --lastname admin \
      --role Admin \
      --email omashevkamilexample@gmail.com
      "
    restart: "no"
  
  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      minio:
        condition: service_healthy

    entrypoint: >
      /bin/sh -c "
       
      mc alias set local ${S3_ENDPOINT_URL} ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD} &&

      mc mb --ignore-existing local/${S3_BUCKET}  
      "

  spark:
    image: spark-ephemeral:3.5.7
    build:
      context: ./spark
      dockerfile: Dockerfile

  greenplum:
    image: woblerr/greenplum:6.27.1
    container_name: greenplum
    environment:
      - GREENPLUM_DATABASE_NAME=${GREENPLUM_DB}
      - GPADMIN_USER=${GPADMIN_USER}
      - GREENPLUM_PASSWORD=${GPADMIN_PASSWORD}
      - GREENPLUM_PXF_ENABLE=true   # включает PXF
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - TZ=Etc/UTC
    ports:
      - "5432:5432"   # PostgreSQL/Greenplum
      - "5888:5888"   # PXF сервис
    volumes:
      - ./greenplum:/docker-entrypoint-initdb.d   # твои инициализационные скрипты
      - greenplum_data:/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gpadmin -d ${GREENPLUM_DATABASE_NAME}"]
      interval: 5s
      retries: 5
  
  
volumes:
  postgres_data:
  minio_data:
  greenplum_data: