version: "3.8"

x-airflow-common: &airflow-common
  image: airflow-env:2.11.0
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./config:/opt/airflow/config
    - /var/run/docker.sock:/var/run/docker.sock
  user: "${AIRFLOW_UID}:0"
  depends_on:
    postgres:
      condition: service_healthy

services:

  airflow-builder:
    image: airflow-env:2.11.0
    build:
      context: ./airflow
      dockerfile: Dockerfile
    command: "echo airflow built"

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    depends_on:
      minio:
          condition: service_completed_successfully
    command: >
      bash -c "
      airflow db migrate &&

      airflow variables set S3_BUCKET \"$S3_BUCKET\" &&

      airflow users create \
      --username airflow \
      --password airflow \
      --firstname admin \
      --lastname admin \
      --role Admin \
      --email omashevkamilexample@gmail.com &&

      airflow connections add minio_s3 \
      --conn-type aws \
      --conn-login \"$MINIO_ROOT_USER\" \
      --conn-password \"$MINIO_ROOT_PASSWORD\" \
      --conn-extra '{\"endpoint_url\":\"'$S3_ENDPOINT_URL'\",\"region_name\":\"'$AWS_DEFAULT_REGION'\"}'
      "
    restart: "no"
  
  airflow-webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s


volumes:
  postgres_data:
  minio_data: